// =======================
// about_musical.scss
// =======================

.about_musical {
	.har_page_title {
		background-image: url('../images/victoria.png');
		background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 120% !important; 
	}
}