.musical_video {
	.har_page_title {
		background-image: url("../images/show/show_3.jpg")
	}

	.video_section {
		background-color: #0E0E0E;
		.video_container {
			padding-top: 0px !important;
			h2, h3 {
				color: white !important;
			}
		}
	}
	
}